@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input::placeholder {
        color: #BBB;
        font-size: 16px;
    }   

    input[type=file]::-webkit-file-upload-button {
        @apply bg-[#F0F0F0] text-[#555] border-0 font-nunito p-[10px] rounded-md cursor-pointer;
    }
}

@layer components {
    .max-container {
        max-width: 1550px;
        margin: 0 auto;
        padding: 0 3rem;
    }

    @media (max-width: 768px) {
        .max-container {
            padding: 0 1.5rem;
        }
    }

    .footer-title {
        color: black;
        font-size: 20px;
        font-family: 'fredoka', sans-serif;
    }

    .footer-link {
        @apply font-nunito text-base text-[#2B2B2B] font-[400px];
    }
}